<div class="auth-container">
    <h2 style="width: 380px;">Recuperar senha de acesso</h2>

    <form action="/forgotpassword" method="post">
        <div class="form-control">
            <label for="email">E-mail:</label>
            <input type="email" name="email" placeholder="Digite seu e-mail para recuperar sua senha" required>
        </div>
        <input type="submit" value="Recuperar Senha">
    </form>
</div>