<div class="auth-container">
    <h2>Entrar</h2>

    <form action="/loginprimary" method="post">
        <div class="form-control">
            <label for="email">E-mail:</label>
            <input type="email" name="email" placeholder="Digite seu e-mail aqui para login">
        </div>

        <div class="form-control">
            <label for="password">Senha:</label>
            <input type="password" name="password" placeholder="Digite sua senha para login">
        </div>

        <div class="form-control">
            <label for="token">Token:</label>
            <input type="text" name="token" placeholder="Digite o Token enviado para seu E-mail" >
        </div>

        <input type="submit" value="entrar">
        <p>Ainda não tem cadastro ?<a href="/register"> Clique aqui</a></p>
    </form>
</div>